.mynav1{
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    justify-content: 'center';
  }

  .nav-img {
    height: 3.5em;
    max-width: 7.6em;
    cursor: pointer;
  }

  .logout-button {
    height: 2em;
    width: auto;
    padding: 2px 12px 4px 12px !important;
  }

  .beta td { 
    padding: 4px !important;
    line-height: 13px;
    border: none;
    
  }
